/* Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like -рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: #fff;
  font-family: var(--default-font), sans-serif;
  background-image: var(--bg-gradient);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-variation-settings: 'wght' 400;
  background-attachment: fixed;
}

.header {
  font-family: var(--highlighted-font), fantasy;
}

.header__container {
  display: flex;
  background-color: #fff;
  padding-block-start: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  padding-block-end: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 2px solid #000;
  gap: 20px;
}

.header__container-title {
  display: flex;
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
}

.header__container-subtitle {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  text-transform: uppercase;
}

.main {
  margin-block-start: 50px;
  display: flex;
  flex-direction: column;
}

.main__card {
  font-family: var(--default-font), sans-serif;
  font-variation-settings: 'wght' 400;
  border: 2px solid  rgba(0, 0, 0, 1);
  background: #fff;
  margin-block-start: 50px;
  inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
}

.main__card-title {
  font-variation-settings: "wght" 700;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 6px;
  margin-block-end: 3px;
  font-size: 18px;
  height: fit-content;
}

.main__card-img-container {
  position: relative;
  overflow: hidden;
}

.main__card-img-container-image {
  inline-size: clamp(23.1875rem, -58.0625rem + 325vw, 43.5rem);
  block-size: clamp(23.1875rem, -58.0625rem + 325vw, 43.5rem);
  object-fit: cover;
  border-top: 2px solid rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  object-position: center;
}

.main__card-img-container-image-brightness {
  filter: brightness(95%);
}

.main__card-img-container-image-contrast {
  filter: contrast(120%);
}

.main__card-img-container-image-blur {
  filter: blur(0.1rem);
}

.main__card-img-container-image-opacity {
  filter: opacity(0.3);
}

.main__card-img-container-image-grayscale {
  filter: grayscale(0.1);
}
.main__card-img-container-image-saturate {
  filter: saturate(140%);
}

.main__card-img-container-image-hue-rotate {
  filter: hue-rotate(-60deg);
}

.main__card-img-container-image-sepia-contrast {
  filter: sepia(90%) contrast(90%);
}

.main__card-img-container-text {
  font-family: var(--highlighted-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  text-shadow: var(--text-shadow);
  position: absolute;
  right: clamp(0.813rem, 0.548rem + 1.13vw, 1.563rem);
  top: 25px;
  z-index: 1;
  opacity: 50%;
}

@supports((text-stroke: var(--text-shadow)) or (-webkit-text-stroke: var(--text-shadow))) {
  .main__card-img-container-text {
    -webkit-text-stroke: var( --text-shadow);
    text-stroke: var(--text-shadow);
    text-shadow: none;
  }
} 

.main__card-container {
  margin: 22px 25px 0 25px;
  display: flex;
  gap: 27px;
  flex-direction: column;
}

.main__card-container-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.main__card-container-buttons {
  display: flex;
  margin-block-start: 25px;
  margin-inline-end: 25px;
  justify-content: flex-end;
  margin-block-end: 25px;
  gap: 7px;
}

.button {
  font-family: var(--highlighted-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  border: 2px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  position: relative;
  background: transparent;
  transition: 0.5s ease-in-out;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button:hover::before {
  transform: translateX(100%);
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.card__like-button:hover {
  cursor: pointer;
}

.button__text {
  color: #fff;
  mix-blend-mode: difference;
}

.main__button-section {
  justify-content: center;
  display: flex;
  margin-block-start: 52px;
  margin-block-end: 100px;
}

.main__button-section-btn {
  border: 2px solid #000;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.main__button-section-btn-container-svg {
  fill: #fff;
  align-self: center;
  mix-blend-mode: difference;
  inline-size: 28px;
  block-size: 28px;
}

.main__button-section-btn:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.main__button-section-btn-container {
  display: flex;
  flex-direction: column;
  padding: 14px 7px;
  gap: 8px;
}

.main__button-section-btn-container-text {
  font-family: var(--highlighted-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  margin: 0 7px;
}

.main__dialog {
  inline-size: clamp(21.313rem, 20.777rem + 1.429vw, 22.063rem);
  padding: 0px;
}

.main__dialog-container {
  padding: 30px clamp(1.875rem, 1.611rem + 1.13vw, 2.625rem);
}

.main__dialog-container-items {
  display: flex;
  gap: 20px;
}

.main__dialog-container-items-svg {
  inline-size: 35%;
  block-size: 40px;
  align-self: center;
}

.main__dialog-container-items-title {
  font-family: var(--highlighted-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase
}

.main__dialog-container-button {
  inline-size: clamp(16.063rem, 14.455rem + 4.286vw, 18.313rem);
  block-size: 38px;
  margin-block-start: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
}

dialog {
  position: fixed;
  inset: 0;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: #000;
  opacity: 75%;
} 

@media (width >= 1020px) {
  .main__button-section-btn-container {
    padding: 9px 5px;
    flex-direction: row;
    display: flex;
  }

  .main__button-section-btn-container-text {
      margin: 9px 7px;
  }

}