:root {
    --highlighted-font: 'PressStart2P';
    --default-font: 'Inter';
    --text-shadow: 1px rgba(255, 255, 255, 1);
    --bg-gradient: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --contour-color-heart: #000;
    --animation-color-heart: #FF0000;
}